

.image-container  img {
    max-width: 800px;
    max-height: 800px;
    margin-bottom: 20vh;
    height: auto;
}

.image-wrapper {
    position: relative;
}

.image-index {
    position:absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    color: royalblue;
    background: white;
}